.OtherInfo{
    grid-area: otherinfo;
    height: 100%;
    margin: 1rem;
    padding: 1.5rem;
    background: var(--greyLight-1);
    border-radius: inherit;
    box-shadow: inset 9.91px 9.91px 15px #CFD6DF, inset -9.91px -9.91px 15px #F9FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}
.OtherInfo > * {
    margin-top: 1rem;
}

.iconlabel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

box-icon{
    align-self: center;
}
