@import url("https://fonts.googleapis.com/css family=Raleway:400,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.App{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  background-color: var(--greyLight-1);
}

.container{
  min-width: 90vw;
  height: 90vh;
  border-radius: 3rem;
  box-shadow:.8rem .8rem 1.4rem var(--greyLight-2), 
            -.2rem -.2rem 1.8rem var(--white);
  margin: 1.5rem;
  padding: 1.5rem;
  display: grid;
  
  /* grid-template-columns: auto auto auto; */


  /* grid-column-gap: 3rem;
  grid-row-gap: 1.5rem; */
  
  align-items: center;
  
  grid-template:
    "current otherinfo otherinfo" 
    "current otherinfo otherinfo" 
    "current .         .";

  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 2fr 1fr 1fr;
}

@media (max-width: 600px) {
  *{
    font-size: medium;
  }
  .container{
    min-width: 90vw;
    height: 130vh;
    border-radius: 3rem;
    box-shadow:.8rem .8rem 1.4rem var(--greyLight-2), 
              -.2rem -.2rem 1.8rem var(--white);
    padding: 1.2rem;
    display: grid;

    align-items: center;
    
    grid-template:
      "current " 
      "otherinfo";
    grid-template-rows: 60% 40%;
    gap: 1rem;
  }
}